body{
    margin: 0;
    padding: 0;
}



.social-link {
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 2.9rem;
}

.social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color:rgb(20, 20, 71);
}
.boxbg{
    background-color:#DAE0E2;
}

.box{
    margin-bottom: 10px;
    
}
.box:hover{
    border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  animation-name: example;
  animation-duration: 0.25s;
  border-left: 8px solid red;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
img:hover{
    cursor: pointer;
}
h4:hover{
    color: rgb(20, 20, 71);
}

.poster{
    padding-top: 20px;
    background-color: #666;
    height: 14vh;
    color: #fff;
}


 .converge{
    background-color:#40419a ;
    color:#FFF !important;
    padding: 10px;
    font-weight: 600;
    -webkit-animation:1s blink infinite;
    animation:1s blink infinite;}
    
    .converge:hover{
    text-decoration:none;}
    
    @keyframes  blink{
      0%{background-color:#034da2;;}
      30%{background-color:#034da2;;}
      60%{background-color:#e23d38;}
      100%{background-color:#e23d38;color:#fff;}
    }
    @-webkit-keyframes blink{
      0%{background-color:#034da2;;}
      30%{background-color:#034da2;;}
      60%{background-color:#e23d38;}
      100%{background-color:#e23d38;color:#fff;}
    }
    
